<!-- HTML Frontend (index.html) -->
<!DOCTYPE html>
<html lang="en"> 
    

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>


    <title>Qook</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<header>
    <h2>Recipe Generator</h2>
</header>
<body>
    <div class="input-container">
        <input type="text" id="inputField" placeholder="Type some ingredients...">
        <button id="micButton" class="off">🎤</button>
    </div>

    <button id="generateButton" class="styled-button">Generate</button>    
    <div id="outputContainer" class="'outputContainer" contenteditable="true">
        <h1>How does this work?</h1>
        <body>Writing recipes can be really dull, so this tool was made to streamline the process, so you can focus on making and sharing good food.
            Just type what you're making, the ingredients you used, and optionally some rough steps on how to make the dish, or press the mic button and say it aloud.
            And voila, a beautifully formatted recipe you can save, share and make time and time again!</body>
        
    </div>
    <div id="saveOptions"  style="display:none;">
        <button id="btn" class="styled-button"> Save Recipe </button>
        <script>
            var button = document.getElementById("btn");
            button.addEventListener("click", function () {
                var doc = new jsPDF();
                var pdf = document.querySelector(".outputContainer");
                doc.fromHTML(pdf);
                doc.fromHTML(outputContainer.innerHTML);
                doc.save("recipe.pdf");
            });
        </script>
        <div id="saveToDrive"></div>
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <div id="data-container" host-path="{{path}}"></div>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/bg.js"></script>
    <canvas id="canvas">Canvas not supported.</canvas>  
</body>
</html>
